<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
  </head>
  <body>
    <h1>Proyectos:</h1>
    <ul>
      {% for proyecto in proyectos %}
      <li>
        <a href="http://localhost:8000/TPs/{{proyecto.id}}"
          >{{proyecto.nombre}}</a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
